
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section MainTitle {
    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Dashboard</h4></div>

    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
}

<h1>Admin Dashboard</h1>

