
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger text-center mt-30 mb-0">Oppss</h1>
<p class="text-danger font-weight-bold mt-2 mb-0 text-center" style="font-size: 18px;">No permission to access this area</p>

<div class="row">
    <div class="col-6 mx-auto p-5">
        <img class="img-fluid" src="~/home/img/access_denied.svg" alt="Oppss" />       
    </div>
</div>

