@model ResultMessageModel

<div class="alert alert-@Model.Css alert-dismissible fade show mb-3" role="alert">
    <strong>@Model.Title!</strong> @Model.Message
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
